html {
  height: 100%;
}
input:focus {
  outline: 0;
}
body {
  margin: 0;
  font-family: "ssang";
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logo_fadein {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 1;
  }
}
@font-face {
  font-family: "Bamin";
  src: url(./assets/BMJUA_ttf.ttf) format("truetype");
}
@font-face {
  font-family: "ssang";
  src: url(./assets/Typo_SsangmunDongB.ttf) format("truetype");
}

.navigation-uparrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #14406c;
  top: 6px;
  left: 45%;
  position: absolute;
}
.navigation-uparrow2 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #14406c;
  top: 6px;
  left: 40%;
  position: absolute;
}

.submenu {
  display: none;
  position: absolute;
  transform: translateX(5px);
  background-color: "#14406c";
  padding-top: 16px;
  animation: fadein 0.2s;
}
.submenu2 {
  display: none;
  position: absolute;
  transform: translateX(-12px);
  background-color: "#14406c";
  padding-top: 16px;
  animation: fadein 0.2s;
}
.submenu3 {
  display: none;
  position: absolute;
  transform: translateX(-70px);
  background-color: "#14406c";
  padding-top: 16px;
  animation: fadein 0.2s;
}
.submenu4 {
  display: none;
  position: absolute;
  background-color: "#14406c";
  transform: translateX(-33px) translateY(-5px);
  padding-top: 16px;
  animation: fadein 0.2s;
}
.navigation-submenu-button:hover {
  background-color: white;
  color: #14406c;
}
