html {
  height: 100%;
}
input:focus {
  outline: 0;
}
body {
  margin: 0;
  font-family: "SeoulMedium";
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logo_fadein {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 1;
  }
}
@keyframes intro_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes club-container-animation {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@font-face {
  font-family: "Bamin";
  src: url(./assets/fonts/BMJUA_ttf.ttf) format("truetype");
}
@font-face {
  font-family: "ssang";
  src: url(./assets/fonts/Typo_SsangmunDongB.ttf) format("truetype");
}
@font-face {
  font-family: "SeoulBold";
  src: url(./assets/fonts/SeoulBold.ttf) format("truetype");
}
@font-face {
  font-family: "SeoulLight";
  src: url(./assets/fonts/SeoulLight.ttf) format("truetype");
}
@font-face {
  font-family: "SeoulMedium";
  src: url(./assets/fonts/SeoulMedium.ttf) format("truetype");
}
@font-face {
  font-family: "SeoulEB";
  src: url(./assets/fonts/SeoulExtraBold.ttf) format("truetype");
}

.navigation-uparrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: 9px;
  left: 82px;
  position: absolute;
}
.navigation-uparrow2 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: 8px;
  left: 40px;
  position: absolute;
}

.submenu {
  display: none;
  position: absolute;
  transform: translateX(-12px);
  background-color: #14406c;
  padding-top: 19px;
  animation: fadein 0.2s;
}
.submenu2 {
  display: none;
  position: absolute;
  transform: translateX(-30px);
  background-color: #14406c;
  padding-top: 19px;
  animation: fadein 0.2s;
}
.submenu3 {
  display: none;
  position: absolute;
  transform: translateX(-75px);
  background-color: #14406c;
  padding-top: 19px;
  animation: fadein 0.2s;
}
.submenu4 {
  display: none;
  position: absolute;
  background-color: #14406c;
  transform: translateX(-33px) translateY(-5px);
  padding-top: 18px;
  animation: fadein 0.2s;
}
.progressBar-container:hover .progressBar-content {
  border: 2px solid #14406c;
}
.progressBar-container:hover > .subProgress {
  display: block;
}
.progressBar-container:hover > .subProgress-big {
  display: block;
}
.progressBar-container:hover > .totalProgress {
  display: block;
}
.subProgress {
  background-color: white;
  border: 2px solid #14406c;
  border-radius: 10px;
  display: none;
  position: absolute;
  left: 240px;
  bottom: 35px;
  z-index: 10;
  transform: translateX(81px);
}
.subProgress-big {
  background-color: white;
  border: 2px solid #14406c;
  border-radius: 10px;
  display: none;
  position: absolute;
  left: 240px;
  bottom: 35px;
  z-index: 10;
  transform: translateX(51px);
}
.subProgress-downarrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #14406c;
  position: absolute;
  left: 165px;
  z-index: 10;
}
.subProgress-big-downarrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #14406c;
  position: absolute;
  left: 195px;
  z-index: 10;
}
.subProgress-downarrow-cover {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  position: absolute;
  left: 165px;
  transform: translateY(-2px);
  z-index: 10;
}
.subProgress-big-downarrow-cover {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  position: absolute;
  left: 195px;
  transform: translateY(-2px);
  z-index: 10;
}
.totalProgress {
  background-color: white;
  border: 2px solid #14406c;
  border-radius: 10px;
  display: none;
  position: absolute;
  left: 240px;
  top: 25px;
  z-index: 10;
  transform: translateX(81px);
}
.totalProgress-uparrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #14406c;
  position: absolute;
  left: 165px;
  transform: translateY(-15px);
  z-index: 10;
}
.totalProgress-uparrow-cover {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  left: 165px;
  transform: translateY(-13px);
  z-index: 10;
}
.suggestions-sort-options {
  position: absolute;
  transform: translateX(-368px) translateY(80px);
  border: 1px solid #14406c;
}
.petitions-sort-options {
  position: absolute;
  transform: translateX(-368px) translateY(80px);
  border: 1px solid #14406c;
}
.report-sort-options {
  position: absolute;
  transform: translateX(-368px) translateY(65px);
  border: 1px solid #14406c;
}
.meetinglogs-sort-options {
  position: absolute;
  transform: translateX(-368px) translateY(65px);
  border: 1px solid #14406c;
}
.forms-sort-options {
  position: absolute;
  transform: translateX(-368px) translateY(65px);
  border: 1px solid #14406c;
}
.report-search-options {
  position: absolute;
  transform: translateX(-233px) translateY(50px);
  border: 1px solid #14406c;
}
.meetinglogs-search-options {
  position: absolute;
  transform: translateX(-233px) translateY(50px);
  border: 1px solid #14406c;
}
.suggestions-search-options {
  position: absolute;
  transform: translateX(-233px) translateY(65px);
  border: 1px solid #14406c;
}
.petitions-search-options {
  position: absolute;
  transform: translateX(-233px) translateY(65px);
  border: 1px solid #14406c;
}
.forms-search-options {
  position: absolute;
  transform: translateX(-233px) translateY(50px);
  border: 1px solid #14406c;
}
.invisible {
  display: none !important;
}
.input-container {
  position: relative;
  background-color: #f6f6f6;
}
.input-container .input-label {
  position: absolute;
  color: grey;
  top: 12px;
  left: 12px;
  transition: all 0.1s ease-out;
  cursor: text;
}
.login-focused .input-label {
  top: 3px;
  font-size: 12px;
}
.manage-input {
  border-bottom: 1px solid #14406c;
  padding-bottom: 30px;
}
.manage-label1 {
  color: white;
  background-color: #14406c;
  width: 140px;
  height: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.manage-label2 {
  color: white;
  background-color: #14406c;
  width: 120px;
  height: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.manage-input input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input[type="submit"] {
  width: 120px;
  height: 60px;
  background-color: #14406c;
  color: white;
  border-radius: 5px;
  margin-left: 30px;
  font-family: SeoulLight;
  font-size: 22px;
  cursor: pointer;
  border: none;
}
